[submodule "openembedded-core"]
	path = openembedded-core
	url = https://github.com/openembedded/openembedded-core.git
[submodule "bitbake"]
	path = bitbake
	url = https://github.com/openembedded/bitbake.git
[submodule "meta-browser"]
	path = meta-browser
	url = https://github.com/Igalia/meta-browser.git
[submodule "meta-qt5"]
	path = meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "meta-odroid"]
	path = meta-odroid
	url = https://github.com/MastaG/meta-odroid.git
[submodule "meta-rust"]
	path = meta-rust
	url = https://github.com/meta-rust/meta-rust.git
